.img_1 {
	width: 25%;
	margin-left: -1rem;
}
.heading1{
	color: white;
	width: 70%;
	position: absolute;
	left: 500px;
	top: 50px;
}
@media screen and (max-width: 500px) {
	.heading1{
		margin-left: -31rem;
		margin-top: -10rem;
		font-size: 35px;
		width: 500px;
	}
	.img_1 {
		width: 30%;
		margin-top: 7rem;
		margin-left: 10rem;
	}
}